<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NeuroNet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="testModel()">test Model</ion-button>
  <ion-button (click)="loadImage()">Load image</ion-button>
  <ion-button (click)="faceDetect()">Face detect</ion-button>
  <br>
  <img id="inputImg" src="https://flxt.tmsimg.com/assets/p185554_b_v10_az.jpg" style="max-width: 800px;" />
  <canvas id="overlay"></canvas>


</ion-content>
