<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Features
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-button (click)="getData()">Get data from web api</ion-button>
<ion-text color="danger">
  <h4>{{catFact}}</h4>
</ion-text>

<ion-button (click)="hapticsVibrate()">Haptics Vibrate</ion-button>
<ion-button (click)="hapticsImpact()">Haptics Impact</ion-button>

<ion-button (click)="logDeviceInfo()">log DeviceInfo</ion-button>
<ion-button (click)="logBatteryInfo()">log BatteryInfo</ion-button>
<ion-text color="blue">
  <h4>{{info}}</h4>
</ion-text>

</ion-content>
