<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Components+
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <button (click)="presentActionSheet()">ActionSheet</button>

  <!-- Getting and setting the state of the accordion group -->
  <ion-accordion-group value="numbers">
    <ion-accordion value="colors">
      <ion-item slot="header">
        <ion-label>Colors</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>Red</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Green</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Blue</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="shapes">
      <ion-item slot="header">
        <ion-label>Shapes</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>Circle</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Triangle</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Square</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="numbers">
      <ion-item slot="header">
        <ion-label>Numbers</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>1</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>3</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

  <ion-button (click)="logAccordionValue()">Log Value of Accordion Group</ion-button>
  <ion-button (click)="closeAccordion()">Close All Accordions</ion-button>
  <br><br>

  <ion-button (click)="presentAlert()">Show Alert</ion-button>
  <ion-button (click)="presentAlertMultipleButtons()">Show Alert (multiple buttons)</ion-button>
  <ion-button (click)="presentAlertConfirm()">Show Alert (confirm)</ion-button>
  <ion-button (click)="presentAlertPrompt()">Show Alert (prompt)</ion-button>
  <ion-button (click)="presentAlertRadio()">Show Alert (radio)</ion-button>
  <ion-button (click)="presentAlertCheckbox()">Show Alert (checkbox)</ion-button>  
  <br><br>

  <!-- Default -->
  <ion-badge>{{badgeNumber}}</ion-badge>

  <!-- Colors -->
  <ion-badge color="primary">11</ion-badge>
  <ion-badge color="secondary" mode="ios">22</ion-badge>
  <ion-badge color="tertiary" mode="md">33</ion-badge>
  <ion-badge color="success">44</ion-badge>
  <ion-badge color="warning">55</ion-badge>
  <ion-badge color="danger">66</ion-badge>
  <ion-badge color="light">77</ion-badge>
  <ion-badge color="medium">88</ion-badge>
  <ion-badge color="dark">99</ion-badge>

  <!-- Item with badge on left and right -->
  <ion-item>
    <ion-badge slot="start">11</ion-badge>
    <ion-label>My Item</ion-label>
    <ion-badge slot="end">22</ion-badge>
  </ion-item>
  <br><br>

  <!-- Icon start -->
  <ion-breadcrumbs color="danger">
    <ion-breadcrumb href="#">
      <ion-icon slot="start" name="home"></ion-icon>
      Home
    </ion-breadcrumb>
    <ion-breadcrumb href="#files">
      <ion-icon slot="start" name="folder"></ion-icon>
      Files
    </ion-breadcrumb>
    <ion-breadcrumb href="#projects">
      <ion-icon slot="start" name="folder"></ion-icon>
      Projects
    </ion-breadcrumb>
    <ion-breadcrumb href="#user-research">
      <ion-icon slot="start" name="folder"></ion-icon>
      User Research
    </ion-breadcrumb>
    <ion-breadcrumb>
      <ion-icon slot="start" name="document"></ion-icon>
      Survey.txt
    </ion-breadcrumb>
  </ion-breadcrumbs>

  <!-- Icon end -->
  <ion-breadcrumbs>
    <ion-breadcrumb href="#">
      Home
      <ion-icon slot="end" name="home"></ion-icon>
    </ion-breadcrumb>
    <ion-breadcrumb href="#files">
      Files
      <ion-icon slot="end" name="folder"></ion-icon>
    </ion-breadcrumb>
    <ion-breadcrumb href="#projects">
      Projects
      <ion-icon slot="end" name="folder"></ion-icon>
    </ion-breadcrumb>
    <ion-breadcrumb href="#user-research">
      User Research
      <ion-icon slot="end" name="folder"></ion-icon>
    </ion-breadcrumb>
    <ion-breadcrumb>
      Survey.txt
      <ion-icon slot="end" name="document"></ion-icon>
    </ion-breadcrumb>
  </ion-breadcrumbs>

  <!-- Custom separator text -->
  <ion-breadcrumbs [maxItems]="maxBreadcrumbs" [itemsBeforeCollapse]="0" [itemsAfterCollapse]="3"
   (ionCollapsedClick)="expandBreadcrumbs()">
    <ion-breadcrumb href="#">
      Home
      <span slot="separator">|</span>
    </ion-breadcrumb>
    <ion-breadcrumb href="#electronics">
      Electronics
      <span slot="separator">|</span>
    </ion-breadcrumb>
    <ion-breadcrumb href="#photography">
      Photography
      <span slot="separator">|</span>
    </ion-breadcrumb>
    <ion-breadcrumb href="#cameras">
      Cameras
      <span slot="separator">|</span>
    </ion-breadcrumb>
    <ion-breadcrumb href="#film">
      Film
      <span slot="separator">|</span>
    </ion-breadcrumb>
    <ion-breadcrumb>
      35 mm
    </ion-breadcrumb>
  </ion-breadcrumbs>

    <ion-breadcrumbs [maxItems]="4" (ionCollapsedClick)="presentPopover($event)">
      <ion-breadcrumb href="#">
        Home+
      </ion-breadcrumb>
      <ion-breadcrumb href="#electronics">
        Electronics+
      </ion-breadcrumb>
      <ion-breadcrumb href="#photography">
        Photography+
      </ion-breadcrumb>
      <ion-breadcrumb href="#cameras">
        Cameras+
      </ion-breadcrumb>
      <ion-breadcrumb href="#film">
        Film+
      </ion-breadcrumb>
      <ion-breadcrumb>
        35 mm+
      </ion-breadcrumb>
    </ion-breadcrumbs>
    <br><br>

    <!-- Default -->
    <ion-button>Default</ion-button>

    <!-- Anchor -->
    <ion-button href="#">Anchor</ion-button>

    <!-- Colors -->
    <ion-button color="primary">Primary</ion-button>
    <ion-button color="secondary" disabled=true>Secondary</ion-button>
    <ion-button color="tertiary" mode="ios">Tertiary</ion-button>
    <ion-button color="success">Success</ion-button>
    <ion-button color="warning">Warning</ion-button>
    <ion-button color="danger">Danger</ion-button>
    <ion-button color="light">Light</ion-button>
    <ion-button color="medium">Medium</ion-button>
    <ion-button color="dark">Dark</ion-button>

    <!-- Expand -->
    <ion-button expand="full">Full Button</ion-button>
    <ion-button expand="block">Block Button</ion-button>

    <!-- Round -->
    <ion-button shape="round">Round Button</ion-button>

    <!-- Fill -->
    <ion-button expand="full" fill="outline">Outline + Full</ion-button>
    <ion-button expand="block" fill="outline">Outline + Block</ion-button>
    <ion-button shape="round" fill="outline">Outline + Round</ion-button>

    <!-- Icons -->
    <ion-button>
      <ion-icon slot="start" name="star"></ion-icon>
      Left Icon
    </ion-button>

    <ion-button>
      Right Icon
      <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>

    <ion-button>
      <ion-icon slot="icon-only" name="star"></ion-icon>
    </ion-button>

    <!-- Sizes -->
    <ion-button size="large">Large</ion-button>
    <ion-button>Default</ion-button>
    <ion-button size="small" (ionBlur)="onButtonBlur()" (ionFocus)="onButtonFocus()" (click)="onButtonClick()">Small</ion-button>
    <br><br>

    <div class="ion-activatable ripple-parent">
      A plain div with a bounded ripple effect
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <button class="ion-activatable ripple-parent">
      A button with a bounded ripple effect
      <ion-ripple-effect></ion-ripple-effect>
    </button>

    <div class="ion-activatable ripple-parent">
      A plain div with an unbounded ripple effect
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </div>

    <button class="ion-activatable ripple-parent">
      A button with an unbounded ripple effect
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </button>
    <br><br>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>ion-item in a card, icon left, button right</ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>
    
      <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-item href="#" class="ion-activated">
        <ion-icon name="wifi" slot="start"></ion-icon>
        <ion-label>Card Link Item 1 activated</ion-label>
      </ion-item>
    
      <ion-item href="#">
        <ion-icon name="wine" slot="start"></ion-icon>
        <ion-label>Card Link Item 2</ion-label>
      </ion-item>
    
      <ion-item class="ion-activated">
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label>Card Button Item 1 activated</ion-label>
      </ion-item>
    
      <ion-item>
        <ion-icon name="walk" slot="start"></ion-icon>
        <ion-label>Card Button Item 2</ion-label>
      </ion-item>
    </ion-card> 
    <br><br>

    <!-- Default Checkbox -->
    <ion-checkbox></ion-checkbox>

    <!-- Disabled Checkbox -->
    <ion-checkbox disabled="true"></ion-checkbox>

    <!-- Checked Checkbox -->
    <ion-checkbox checked="true"></ion-checkbox>

    <!-- Checkbox Colors -->
    <ion-checkbox color="primary"></ion-checkbox>
    <ion-checkbox color="secondary"></ion-checkbox>
    <ion-checkbox color="danger"></ion-checkbox>
    <ion-checkbox color="light"></ion-checkbox>
    <ion-checkbox color="dark"></ion-checkbox>

    <!-- Checkboxes in a List -->
    <ion-list>
      <ion-item *ngFor="let entry of form">
        <ion-label>{{entry.val}}</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
      </ion-item>
    </ion-list>    
    <br><br>

    <ion-chip>
      <ion-label>Default</ion-label>
    </ion-chip>
    
    <ion-chip>
      <ion-label color="secondary">Secondary Label</ion-label>
    </ion-chip>
    
    <ion-chip color="secondary">
      <ion-label color="dark">Secondary w/ Dark label</ion-label>
    </ion-chip>
    
    <ion-chip [disabled]="true">
      <ion-label>Disabled Chip</ion-label>
    </ion-chip>
    
    <ion-chip>
      <ion-icon name="pin"></ion-icon>
      <ion-label>Default</ion-label>
    </ion-chip>
    
    <ion-chip>
      <ion-icon name="heart" color="dark"></ion-icon>
      <ion-label>Default</ion-label>
    </ion-chip>
    
    <ion-chip>
      <ion-label>Button Chip</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
    
    <ion-chip>
      <ion-icon name="pin" color="primary"></ion-icon>
      <ion-label>Icon Chip</ion-label>
      <ion-icon name="close"></ion-icon>
    </ion-chip>
    
    <ion-chip>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Avatar Chip</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
    <br><br>

    <!-- Initial value -->
    <ion-datetime value="2012-12-15T13:47:20.789"></ion-datetime>

    <!-- Readonly -->
    <ion-datetime readonly></ion-datetime>

    <!-- Disabled -->
    <ion-datetime disabled></ion-datetime>

    <!-- Custom locale -->
    <ion-datetime locale="en-GB"></ion-datetime>

    <!-- Max and min -->
    <ion-datetime min="1994-03-14" max="2012-12-09" value="2008-09-02"></ion-datetime>

    <!-- 15 minute increments -->
    <ion-datetime minuteValues="0,15,30,45"></ion-datetime>

    <!-- Specific days/months/years --> 
    <ion-datetime monthValues="6,7,8" yearValues="2014,2015" dayValues="01,02,03,04,05,06,08,09,10,11,12,13,14"></ion-datetime>

    <!-- Selecting time, no date -->
    <ion-datetime presentation="time"></ion-datetime>

    <!-- Selecting time first, date second -->
    <ion-datetime presentation="time-date"></ion-datetime>

    <!-- Full width size -->
    <ion-datetime size="cover"></ion-datetime>

    <!-- Custom Hour Cycle -->
    <ion-datetime hourCycle="h23"></ion-datetime>

    <!-- Custom first day of week -->
    <ion-datetime [firstDayOfWeek]="1"></ion-datetime>

    <!-- Custom title -->
    <ion-datetime>
      <div slot="title">My Custom Title</div>
    </ion-datetime>

    <!-- Clear button -->
    <ion-datetime [showClearButton]="true"></ion-datetime>

    <!-- Datetime in overlay -->
    <ion-button id="open-modal">Open Datetime Modal</ion-button>
    <ion-modal trigger="open-modal">
      <ng-template>
        <ion-content>
          <ion-datetime></ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- Custom buttons -->
    <ion-datetime>
      <ion-buttons slot="buttons">
        <ion-button (click)="confirm()">Good to go!</ion-button>
        <ion-button (click)="reset()">Reset</ion-button>
      </ion-buttons>
    </ion-datetime>

    <!-- Datetime in popover with cover element -->
    <ion-item button="true" id="open-date-input">
      <ion-label>Date</ion-label>
      <ion-text slot="end">{{ dateValue }}</ion-text>
      <ion-popover trigger="open-date-input" show-backdrop="false">
        <ng-template>
          <ion-datetime
            #popoverDatetime
            presentation="date"
            (ionChange)="dateValue = formatDate(popoverDatetime.value)"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>

    <!-- Datetime in popover with input -->
    <ion-item>
      <ion-input [value]="dateValue2"></ion-input>
      <ion-button fill="clear" id="open-date-input-2">
        <ion-icon icon="calendar"></ion-icon>
      </ion-button>
      <ion-popover trigger="open-date-input-2" show-backdrop="false">
        <ng-template>
          <ion-datetime
            #popoverDatetime2
            presentation="date"
            (ionChange)="dateValue2 = formatDate(popoverDatetime2.value)"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>    
    <br><br>

    <ion-button (click)="openPicker()">SHOW PICKER</ion-button>
    <!-- <p *ngIf="picked.animal">picked: {{ picked.animal.text }}</p> -->
    <p >picked: {{ picked?.animal?.text }}</p>
    <br><br>

    <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  
    <!-- fab placed to the bottom end -->
    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="arrow-forward-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  
    <!-- fab placed to the top start -->
    <!-- <ion-fab vertical="top" horizontal="start" slot="fixed">
      <ion-fab-button>
        <ion-icon name="arrow-back-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  
    <!-- fab placed to the bottom start -->
    <!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button>
        <ion-icon name="arrow-up-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  
    <!-- fab placed to the (vertical) center and start -->
    <!-- <ion-fab vertical="center" horizontal="start" slot="fixed">
      <ion-fab-button>
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  
    <!-- fab placed to the (vertical) center and end -->
    <!-- <ion-fab vertical="center" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  
    <!-- fab placed to the top and end and on the top edge of the content overlapping header -->
    <!-- <ion-fab vertical="top" horizontal="end" edge slot="fixed">
      <ion-fab-button>
        <ion-icon name="person"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  
    <!-- fab placed to the bottom and start and on the bottom edge of the content overlapping footer with a list to the right -->
    <!-- <ion-fab vertical="bottom" horizontal="start" edge slot="fixed">
      <ion-fab-button>
        <ion-icon name="settings"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="end">
        <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab> -->
  
    <!-- fab placed in the center of the content with a list on each side -->
    <ion-fab vertical="center" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button (click)="onFabClick('vimeo')"><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="bottom">
        <ion-fab-button (click)="onFabClick('facebook')"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="start">
        <ion-fab-button (click)="onFabClick('instagram')"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="end">
        <ion-fab-button (click)="onFabClick('twitter')"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <!-- <ion-fab slot="fixed">
      <ion-fab-button>Button</ion-fab-button>
    </ion-fab> -->

    <ion-fab-button>Default</ion-fab-button>

    <ion-fab-button size="small">Mini</ion-fab-button>

    <ion-fab-button color="primary">Primary</ion-fab-button>
    <ion-fab-button color="secondary">Secondary</ion-fab-button>
    <ion-fab-button color="danger">Danger</ion-fab-button>
    <br><br>

    <ion-grid>
      <ion-row>
        <ion-col>
          ion-col
        </ion-col>
        <ion-col>
          ion-col
        </ion-col>
        <ion-col>
          ion-col
        </ion-col>
        <ion-col>
          ion-col
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col size="6">
          ion-col [size="6"]
        </ion-col>
        <ion-col>
          ion-col
        </ion-col>
        <ion-col>
          ion-col
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col size="3">
          ion-col [size="3"]
        </ion-col>
        <ion-col>
          ion-col
        </ion-col>
        <ion-col size="3">
          ion-col [size="3"]
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col size="3">
          ion-col [size="3"]
        </ion-col>
        <ion-col size="3" offset="3">
          ion-col [size="3"] [offset="3"]
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          ion-col
        </ion-col>
        <ion-col>
          ion-col
          <br>#
        </ion-col>
        <ion-col>
          ion-col
          <br>#
          <br>#
        </ion-col>
        <ion-col>
          ion-col
          <br>#
          <br>#
          <br>#
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col class="ion-align-self-start">
          ion-col [start]
        </ion-col>
        <ion-col class="ion-align-self-center">
          ion-col [center]
        </ion-col>
        <ion-col class="ion-align-self-end">
          ion-col [end]
        </ion-col>
        <ion-col>
          ion-col
          <br>#
          <br>#
        </ion-col>
      </ion-row>
    
      <ion-row class="ion-align-items-start">
        <ion-col>
          [start] ion-col
        </ion-col>
        <ion-col>
          [start] ion-col
        </ion-col>
        <ion-col class="ion-align-self-end">
          [start] ion-col [end]
        </ion-col>
        <ion-col>
          ion-col
          <br>#
          <br>#
        </ion-col>
      </ion-row>
    
      <ion-row class="ion-align-items-center">
        <ion-col>
          [center] ion-col
        </ion-col>
        <ion-col>
          [center] ion-col
        </ion-col>
        <ion-col>
          [center] ion-col
        </ion-col>
        <ion-col>
          ion-col
          <br>#
          <br>#
        </ion-col>
      </ion-row>
    
      <ion-row class="ion-align-items-end">
        <ion-col>
          [end] ion-col
        </ion-col>
        <ion-col class="ion-align-self-start">
          [end] ion-col [start]
        </ion-col>
        <ion-col>
          [end] ion-col
        </ion-col>
        <ion-col>
          ion-col
          <br>#
          <br>#
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col size="12" size-sm>
          ion-col [size="12"] [size-sm]
        </ion-col>
        <ion-col size="12" size-sm>
          ion-col [size="12"] [size-sm]
        </ion-col>
        <ion-col size="12" size-sm>
          ion-col [size="12"] [size-sm]
        </ion-col>
        <ion-col size="12" size-sm>
          ion-col [size="12"] [size-sm]
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col size="12" size-md>
          ion-col [size="12"] [size-md]
        </ion-col>
        <ion-col size="12" size-md>
          ion-col [size="12"] [size-md]
        </ion-col>
        <ion-col size="12" size-md>
          ion-col [size="12"] [size-md]
        </ion-col>
        <ion-col size="12" size-md>
          ion-col [size="12"] [size-md]
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col size="6" size-lg offset="3">
          ion-col [size="6"] [size-lg] [offset="3"]
        </ion-col>
        <ion-col size="3" size-lg>
          ion-col [size="3"] [size-lg]
        </ion-col>
      </ion-row>
    </ion-grid>
    <br><br>

    <ion-button (click)="toggleInfiniteScroll()" expand="block">
      Toggle Infinite Scroll
    </ion-button>
    <ion-button (click)="untoggleInfiniteScroll()" expand="block">
      UnToggle Infinite Scroll
    </ion-button>
  
    <ion-list></ion-list>
  
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="dots"
        loadingText="Loading more data...">
        {{counter}}
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <br><br>

    <ion-icon name="accessibility"></ion-icon> <!--filled-->
    <ion-icon name="accessibility-outline"></ion-icon> <!--outline-->
    <ion-icon name="accessibility-sharp"></ion-icon> <!--sharp-->

    <ion-icon name="accessibility" size="small"></ion-icon> <!--filled-->
    <ion-icon name="accessibility" size="large"></ion-icon> <!--filled-->
    <br><br>

    <!-- Default Input -->
<ion-input></ion-input>

<!-- Input with value -->
<ion-input value="custom" autocapitalize="on" autocorrect="on" color="danger"></ion-input>

<!-- Input with placeholder -->
<ion-input placeholder="Enter Input"></ion-input>

<!-- Input with clear button when there is a value -->
<ion-input clearInput value="clear me"></ion-input>

<!-- Number type input -->
<ion-input type="number" value="333"></ion-input>

<!-- Disabled input -->
<ion-input value="Disabled" disabled></ion-input>

<!-- Readonly input -->
<ion-input value="Readonly" readonly></ion-input>

<!-- Inputs with labels -->
<ion-item>
  <ion-label>Default Label</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Floating Label</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="fixed">Fixed Label</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Stacked Label</ion-label>
  <ion-input></ion-input>
</ion-item>
<br><br>

<!-- Default textarea -->
<ion-textarea></ion-textarea>

<!-- Textarea in an item with a placeholder -->
<ion-item>
  <ion-textarea placeholder="Enter more information here..."></ion-textarea>
</ion-item>

<!-- Textarea in an item with a floating label -->
<ion-item>
  <ion-label position="floating">Description</ion-label>
  <ion-textarea></ion-textarea>
</ion-item>

<!-- Disabled and readonly textarea in an item with a stacked label -->
<ion-item>
  <ion-label position="stacked">Summary</ion-label>
  <ion-textarea
    disabled
    readonly
    value="Ionic enables developers to build performant, high-quality mobile apps.">
  </ion-textarea>
</ion-item>

<!-- Textarea that clears the value on edit -->
<ion-item>
  <ion-label>Comment</ion-label>
  <ion-textarea clearOnEdit="true"></ion-textarea>
</ion-item>

<!-- Textarea with custom number of rows and cols -->
<ion-item>
  <ion-label>Notes</ion-label>
  <ion-textarea rows="6" cols="20" placeholder="Enter any notes here..."></ion-textarea>
</ion-item>
<br><br>

<!-- Default Item -->
<ion-item>
  <ion-label>
    Item
  </ion-label>
</ion-item>

<!-- Item as a Button -->
<ion-item button (click)="buttonClick()">
  <ion-label>
    Button Item
  </ion-label>
</ion-item>

<!-- Item as an Anchor -->
<ion-item href="https://www.ionicframework.com">
  <ion-label>
    Anchor Item
  </ion-label>
</ion-item>

<ion-item color="secondary">
  <ion-label>
    Secondary Color Item
  </ion-label>
</ion-item>

<ion-item detail>
  <ion-label>
    Standard Item with Detail Arrow
  </ion-label>
</ion-item>

<ion-item button (click)="buttonClick()" detail>
  <ion-label>
    Button Item with Detail Arrow
  </ion-label>
</ion-item>

<ion-item detail="false" href="https://www.ionicframework.com">
  <ion-label>
    Anchor Item with no Detail Arrow
  </ion-label>
</ion-item>

  <ion-list>
    <ion-item>
      <ion-label>
        Item
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        No Lines Item
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
      Multiline text that should wrap when it is too long
      to fit on one line in the item.
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>H3 Primary Title</h3>
        </ion-text>
        <p>Paragraph line 1</p>
        <ion-text color="secondary">
          <p>Paragraph line 2 secondary</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>
        Item with Full Lines
      </ion-label>
    </ion-item>

  </ion-list>

  <!-- Item Inset Lines -->
<ion-item lines="inset">
  <ion-label>Item Lines Inset</ion-label>
</ion-item>

<!-- Item Full Lines -->
<ion-item lines="full">
  <ion-label>Item Lines Full</ion-label>
</ion-item>

<!-- Item None Lines -->
<ion-item lines="none">
  <ion-label>Item Lines None</ion-label>
</ion-item>

<!-- List Full Lines -->
<ion-list lines="full">
  <ion-item>
    <ion-label>Full Lines Item 1</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Full Lines Item 2</ion-label>
  </ion-item>
</ion-list>

<!-- List Inset Lines -->
<ion-list lines="inset">
  <ion-item>
    <ion-label>Inset Lines Item 1</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Inset Lines Item 2</ion-label>
  </ion-item>
</ion-list>

<!-- List No Lines -->
<ion-list lines="none">
  <ion-item>
    <ion-label>No lines Item 1</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>No lines Item 2</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>No lines Item 3</ion-label>
  </ion-item>
</ion-list>

<ion-item button (click)="testClick()">
  <ion-avatar slot="start">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
  </ion-avatar>
  <ion-label>
    Avatar Start, Button Item
  </ion-label>
</ion-item>

<ion-item href="#">
  <ion-label>
    Thumbnail End, Anchor Item
  </ion-label>
  <ion-thumbnail slot="end">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
  </ion-thumbnail>
</ion-item>

<ion-item>
  <ion-thumbnail slot="start">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
  </ion-thumbnail>
  <ion-label>
    <h2>H2 Title Text</h2>
    <p>Button on right</p>
  </ion-label>
  <ion-button fill="outline" slot="end">View</ion-button>
</ion-item>

<ion-item button (click)="testClick()">
  <ion-thumbnail slot="start">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
  </ion-thumbnail>
  <ion-label>
    <h3>H3 Title Text</h3>
    <p>Icon on right</p>
  </ion-label>
  <ion-icon name="close-circle" slot="end"></ion-icon>
</ion-item>

<ion-item>
  <ion-button slot="start">
    Start
  </ion-button>
  <ion-label>Button Start/End</ion-label>
  <ion-button slot="end">
    End
  </ion-button>
</ion-item>

<ion-item>
  <ion-button slot="start">
    Start Icon
    <ion-icon name="home" slot="end"></ion-icon>
  </ion-button>
  <ion-label>Buttons with Icons</ion-label>
  <ion-button slot="end">
    <ion-icon name="star" slot="end"></ion-icon>
    End Icon
  </ion-button>
</ion-item>

<ion-item>
  <ion-button slot="start">
    <ion-icon slot="icon-only" name="navigate"></ion-icon>
  </ion-button>
  <ion-label>Icon only Buttons</ion-label>
  <ion-button slot="end">
    <ion-icon slot="icon-only" name="star"></ion-icon>
  </ion-button>
</ion-item>

<ion-item>
  <ion-label>
    Icon End
  </ion-label>
  <ion-icon name="information-circle" slot="end"></ion-icon>
</ion-item>

<ion-item>
  <ion-label>
    Large Icon End
  </ion-label>
  <ion-icon name="information-circle" size="large" slot="end"></ion-icon>
</ion-item>

<ion-item>
  <ion-label>
    Small Icon End
  </ion-label>
  <ion-icon name="information-circle" size="small" slot="end"></ion-icon>
</ion-item>

<ion-item>
  <ion-icon name="star" slot="start"></ion-icon>
  <ion-label>
    Icon Start
  </ion-label>
</ion-item>

<ion-item>
  <ion-label>
    Two Icons End
  </ion-label>
  <ion-icon name="checkmark-circle" slot="end"></ion-icon>
  <ion-icon name="shuffle" slot="end"></ion-icon>
</ion-item>

<ion-item>
  <ion-label position="floating">Datetime</ion-label>
  <ion-datetime></ion-datetime>
</ion-item>

<ion-item>
  <ion-label position="floating">Select</ion-label>
  <ion-select>
    <ion-select-option value="">No Game Console</ion-select-option>
    <ion-select-option value="nes">NES</ion-select-option>
    <ion-select-option value="n64" selected>Nintendo64</ion-select-option>
    <ion-select-option value="ps">PlayStation</ion-select-option>
    <ion-select-option value="genesis">Sega Genesis</ion-select-option>
    <ion-select-option value="saturn">Sega Saturn</ion-select-option>
    <ion-select-option value="snes">SNES</ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label>Toggle</ion-label>
  <ion-toggle slot="end"></ion-toggle>
</ion-item>

<ion-item>
  <ion-label position="floating">Floating Input</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label>Input (placeholder)</ion-label>
  <ion-input placeholder="Placeholder"></ion-input>
</ion-item>

<ion-item fill="solid">
  <ion-label position="floating">Input (Fill: Solid)</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item fill="outline">
  <ion-label position="floating">Input (Fill: Outline)</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label>Helper and Error Text</ion-label>
  <ion-input></ion-input>
  <ion-note slot="helper">Helper Text</ion-note>
  <ion-note slot="error">Error Text</ion-note>
</ion-item>

<ion-item>
  <ion-label>Checkbox</ion-label>
  <ion-checkbox slot="start"></ion-checkbox>
</ion-item>

<ion-item>
  <ion-label>Range</ion-label>
  <ion-range></ion-range>
</ion-item>
<br><br>

<ion-item-divider>
  <ion-label>
    Basic Item Divider
  </ion-label>
</ion-item-divider>

<ion-item-divider color="secondary">
  <ion-label>
    Secondary Item Divider
  </ion-label>
</ion-item-divider>

<!-- Item Dividers in a List -->
<ion-list>
  <ion-item-divider>
    <ion-label>
      Section A
    </ion-label>
  </ion-item-divider>

  <ion-item><ion-label>A1</ion-label></ion-item>
  <ion-item><ion-label>A2</ion-label></ion-item>
  <ion-item><ion-label>A3</ion-label></ion-item>
  <ion-item><ion-label>A4</ion-label></ion-item>
  <ion-item><ion-label>A5</ion-label></ion-item>

  <ion-item-divider>
    <ion-label>
      Section B
    </ion-label>
  </ion-item-divider>

  <ion-item><ion-label>B1</ion-label></ion-item>
  <ion-item><ion-label>B2</ion-label></ion-item>
  <ion-item><ion-label>B3</ion-label></ion-item>
  <ion-item><ion-label>B4</ion-label></ion-item>
  <ion-item><ion-label>B5</ion-label></ion-item>
</ion-list>
<br><br>

<ion-item-group>
  <ion-item-divider>
    <ion-label>A</ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label>Angola</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Argentina</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Armenia</ion-label>
  </ion-item>
</ion-item-group>

<ion-item-group>
  <ion-item-divider>
    <ion-label>B</ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label>Bangladesh</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Belarus</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Belgium</ion-label>
  </ion-item>
</ion-item-group>


<!-- They can also be used to group sliding items -->
<ion-item-group>
  <ion-item-divider>
    <ion-label>
      Fruits
    </ion-label>
  </ion-item-divider>

  <ion-item-sliding>
    <ion-item>
      <ion-label>
        <h3>Grapes</h3>
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option>
        Favorite
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
      <ion-label>
        <h3>Apples</h3>
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option>
        Favorite
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-item-group>

<ion-item-group>
  <ion-item-divider>
    <ion-label>
      Vegetables
    </ion-label>
  </ion-item-divider>

  <ion-item-sliding>
    <ion-item>
      <ion-label>
        <h3>Carrots</h3>
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option>
        Favorite
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
      <ion-label>
        <h3>Celery</h3>
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option>
        Favorite
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-item-group>
<br><br>

<ion-list>
  <!-- Sliding item with text options on both sides -->
  <ion-item-sliding>
    <ion-item-options side="start">
      <ion-item-option (click)="favorite(item)">Favorite</ion-item-option>
      <ion-item-option color="danger" (click)="share(item)">Share</ion-item-option>
    </ion-item-options>

    <ion-item>
      <ion-label>Item Options</ion-label>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)">Unread</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!-- Sliding item with expandable options on both sides -->
  <ion-item-sliding>
    <ion-item-options side="start">
      <ion-item-option color="danger" expandable>
        Delete
      </ion-item-option>
    </ion-item-options>

    <ion-item>
      <ion-label>Expandable Options</ion-label>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="tertiary" expandable>
        Archive
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!-- Multi-line sliding item with icon options on both sides -->
  <ion-item-sliding id="item100">
    <ion-item href="#">
      <ion-label>
        <h2>HubStruck Notifications</h2>
        <p>A new message in your network</p>
        <p>Oceanic Next has joined your network</p>
      </ion-label>
      <ion-note slot="end">
        10:45 AM
      </ion-note>
    </ion-item>

    <ion-item-options side="start">
      <ion-item-option>
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
      <ion-item-option>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!-- Sliding item with icon start options on end side -->
  <ion-item-sliding>
    <ion-item>
      <ion-label>
        Sliding Item, Icons Start
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="primary">
        <ion-icon slot="start" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        More
      </ion-item-option>
      <ion-item-option color="secondary">
        <ion-icon slot="start" name="archive"></ion-icon>
        Archive
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!-- Sliding item with icon end options on end side -->
  <ion-item-sliding>
    <ion-item>
      <ion-label>
        Sliding Item, Icons End
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="primary">
        <ion-icon slot="end" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        More
      </ion-item-option>
      <ion-item-option color="secondary">
        <ion-icon slot="end" name="archive"></ion-icon>
        Archive
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!-- Sliding item with icon top options on end side -->
  <ion-item-sliding>
    <ion-item>
      <ion-label>
        Sliding Item, Icons Top
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="primary">
        <ion-icon slot="top" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        More
      </ion-item-option>
      <ion-item-option color="secondary">
        <ion-icon slot="top" name="archive"></ion-icon>
        Archive
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!-- Sliding item with icon bottom options on end side -->
  <ion-item-sliding>
    <ion-item>
      <ion-label>
        Sliding Item, Icons Bottom
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="primary">
        <ion-icon slot="bottom" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        More
      </ion-item-option>
      <ion-item-option color="secondary">
        <ion-icon slot="bottom" name="archive"></ion-icon>
        Archive
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
<br><br>

<!-- Default Label -->
<ion-label>Label</ion-label>

<!-- Label Colors -->
<ion-label color="primary">Primary Label</ion-label>
<ion-label color="secondary">Secondary Label</ion-label>
<ion-label color="danger">Danger Label</ion-label>
<ion-label color="light">Light Label</ion-label>
<ion-label color="dark">Dark Label</ion-label>

<!-- Item Labels -->
<ion-item>
  <ion-label>Default Item</ion-label>
</ion-item>

<ion-item>
  <ion-label class="ion-text-wrap">
    Multi-line text that should wrap when it is too long
    to fit on one line in the item.
  </ion-label>
</ion-item>

<!-- Input Labels -->
<ion-item>
  <ion-label>Default Input</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="fixed">Fixed</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Floating</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Stacked</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label>Toggle</ion-label>
  <ion-toggle slot="end" checked></ion-toggle>
</ion-item>

<ion-item>
  <ion-checkbox slot="start" checked></ion-checkbox>
  <ion-label>Checkbox</ion-label>
</ion-item>
<br><br>

<!-- Default Note -->
<ion-note>Default Note</ion-note>

<!-- Note Colors -->
<ion-note color="primary">Primary Note</ion-note>
<ion-note color="secondary">Secondary Note</ion-note>
<ion-note color="danger">Danger Note</ion-note>
<ion-note color="light">Light Note</ion-note>
<ion-note color="dark">Dark Note</ion-note>

<!-- Notes in a List -->
<ion-list>
  <ion-item>
    <ion-label>Note (End)</ion-label>
    <ion-note slot="end">On</ion-note>
  </ion-item>

  <ion-item>
    <ion-note slot="start">Off</ion-note>
    <ion-label>Note (Start)</ion-label>
  </ion-item>
</ion-list>
<br><br>

<!-- List of Text Items -->
<ion-list>
  <ion-item>
    <ion-label>Pokémon Yellow</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Mega Man X</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>The Legend of Zelda</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Pac-Man</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Super Mario World</ion-label>
  </ion-item>
</ion-list>

<!-- List of Input Items -->
<ion-list>
  <ion-item>
    <ion-label>Input</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Toggle</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Radio</ion-label>
    <ion-radio slot="end"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>Checkbox</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
</ion-list>

<!-- List of Sliding Items -->
<ion-list>
  <ion-item-sliding>
    <ion-item>
      <ion-label>Item</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)">Unread</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
      <ion-label>Item</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)">Unread</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
<br><br>

<!-- Default List Header -->
<ion-list-header>
  <ion-label>List Header</ion-label>
</ion-list-header>

<!-- List Header with Button -->
<ion-list-header>
  <ion-label>New This Week</ion-label>
  <ion-button>See All</ion-button>
</ion-list-header>

<!-- List Header with Outline Button -->
<ion-list-header>
  <ion-label>New This Week</ion-label>
  <ion-button fill="outline">See All</ion-button>
</ion-list-header>

<!-- List Header Full Lines -->
<ion-list-header lines="full">
  <ion-label>New This Week</ion-label>
  <ion-button>See All</ion-button>
</ion-list-header>

<!-- List Header Inset Lines -->
<ion-list-header lines="inset">
  <ion-label>New This Week</ion-label>
  <ion-button>See All</ion-button>
</ion-list-header>

<!-- List Headers in Lists -->
<ion-list>
  <ion-list-header lines="inset">
    <ion-label>Recent</ion-label>
    <ion-button>Clear</ion-button>
  </ion-list-header>
  <ion-item lines="none">
    <ion-label color="primary">
      <h1>I got you babe</h1>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-list-header lines="inset">
    <ion-label>Trending</ion-label>
  </ion-list-header>
  <ion-item>
    <ion-label color="primary">
      <h1>harry styles</h1>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label color="primary">
      <h1>christmas</h1>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label color="primary">
      <h1>falling</h1>
    </ion-label>
  </ion-item>
</ion-list>
<br><br>

<ion-avatar>
  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
</ion-avatar>

<ion-chip>
  <ion-avatar>
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <ion-label>Chip Avatar</ion-label>
</ion-chip>

<ion-item>
  <ion-avatar slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <ion-label>Item Avatar</ion-label>
</ion-item>
<br><br>

<ion-list>
  <ion-item *ngFor="let item of items">
    <ion-thumbnail slot="start">
      <ion-img [src]="item.src"></ion-img>
    </ion-thumbnail>
    <ion-label>{{item.text}}</ion-label>
  </ion-item>
</ion-list>
<br><br>

<!-- <ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Custom Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu side="end" type="push" contentId="main">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>End Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu - Basic</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button expand="block" (click)="openFirst()">Open Start Menu</ion-button>
    <ion-button expand="block" (click)="openEnd()">Open End Menu</ion-button>
    <ion-button expand="block" (click)="openCustom()">Open Custom Menu</ion-button>
  </ion-content>
</div> -->

<!-- <ion-router-outlet id="main"></ion-router-outlet> -->
<br><br>
<!-- can be "xs", "sm", "md", "lg", or "xl" -->
<!-- <ion-split-pane when="md"></ion-split-pane> -->

<!-- can be any valid media query https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries -->
<!-- <ion-split-pane when="(min-width: 40px)"></ion-split-pane>

<ion-split-pane contentId="main"> -->
  <!--  the side menu  -->
  <!-- <ion-menu contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-menu> -->

  <!-- the main content -->
  <!-- <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane> -->
<br><br>

<ion-button (click)="showModalWindow1()">Open Modal1</ion-button>
<ion-button (click)="showModalWindow2()">Open Modal2</ion-button>
<ion-button (click)="showModalWindow3()">Open Modal3</ion-button>
<ion-button (click)="showModalWindow4()">Open Modal4</ion-button>
<ion-button (click)="presentModal()">Open Modal Component</ion-button>
<!-- Default -->
<ion-modal [isOpen]="showModal1">
  <ng-template>
    <ion-content>Modal Content1</ion-content>
  </ng-template>
</ion-modal>

<!-- Use a trigger -->
<ion-button id="trigger-button">Click to open modal</ion-button>
<ion-modal trigger="trigger-button">
  <ng-template>
    <ion-content>Modal Content+</ion-content>
  </ng-template>
</ion-modal>

<!-- Sheet Modal -->
<ion-modal
  [isOpen]="showModal2"
  [breakpoints]="[0.1, 0.5, 1]"
  [initialBreakpoint]="0.5"
>
  <ng-template>
    <ion-content>Modal Content2</ion-content>
  </ng-template>
</ion-modal>

<!-- Card Modal -->
<ion-modal
  [isOpen]="showModal3"
  [swipeToClose]="true"
  [presentingElement]="routerOutlet.nativeEl"
>
  <ng-template>
    <ion-content>Modal Content3</ion-content>
  </ng-template>
</ion-modal>

<!-- Passing Props -->
<ion-modal [isOpen]="showModal4">
  <ng-template>
    <app-angular-component title="Ionic"></app-angular-component>
  </ng-template>
</ion-modal>
<br><br>

<ion-button (click)="showHideBackdrop()">show/Hide Backdrop</ion-button>
<!-- Default backdrop -->
<ion-backdrop></ion-backdrop>

<!-- Backdrop that is not tappable -->
<ion-backdrop tappable="false"></ion-backdrop>

<!-- Backdrop that is not visible -->
<ion-backdrop visible="false"></ion-backdrop>

<!-- Backdrop with propagation -->
<ion-backdrop stopPropagation="false"></ion-backdrop>

<!-- Backdrop that sets dynamic properties -->
<ion-backdrop
  [tappable]="enableBackdropDismiss"
  [visible]="showBackdrop"
  [stopPropagation]="shouldPropagate">
</ion-backdrop>
<br><br>

<ion-button (click)="showHidePopover1()">open popover 1</ion-button>
<ion-button (click)="showHidePopover2()">open popover 2</ion-button>
<ion-button (click)="presentPopover($event)">open popover via controller</ion-button>

<!-- Default -->
<ion-popover [isOpen]="showPopover1">
  <ng-template>
    <ion-content>Popover Content1</ion-content>
  </ng-template>
</ion-popover>

<!-- No Arrow -->
<ion-popover [isOpen]="showPopover2" [arrow]="false">
  <ng-template>
    <ion-content>Popover Content2</ion-content>
  </ng-template>
</ion-popover>

<!-- Use a trigger -->
<ion-button id="trigger-button2">Click to open popover</ion-button>
<ion-popover trigger="trigger-button2">
  <ng-template>
    <ion-content>Popover Content3</ion-content>
  </ng-template>
</ion-popover>

<!-- Hover over trigger to open -->
<ion-button id="hover-button">Hover to open popover</ion-button>
<ion-popover trigger="hover-button" triggerAction="hover">
  <ng-template>
    <ion-content>Popover Content4</ion-content>
  </ng-template>
</ion-popover>

<!-- Show popover above trigger -->
<ion-button id="side-button">Click to open popover</ion-button>
<ion-popover trigger="side-button" side="top">
  <ng-template>
    <ion-content>Popover Content5</ion-content>
  </ng-template>
</ion-popover>

<!-- Align popover to end of trigger -->
<ion-button id="alignment-button">Click to open popover</ion-button>
<ion-popover trigger="alignment-button" side="top" alignment="end">
  <ng-template>
    <ion-content>Popover Content6</ion-content>
  </ng-template>
</ion-popover>

<!-- Make popover the same size as the trigger -->
<ion-button id="size-button">Click to open popover</ion-button>
<ion-popover trigger="size-button" size="cover">
  <ng-template>
    <ion-content>Popover Content7</ion-content>
  </ng-template>
</ion-popover>

<!-- Make popover show relative to click coordinates rather than trigger -->
<ion-button id="size-button2">Click to open popover</ion-button>
<ion-popover trigger="size-button2" reference="event">
  <ng-template>
    <ion-content>Popover Content8</ion-content>
  </ng-template>
</ion-popover>

<!-- Nested Popover -->
<ion-button id="nested-button">Click to open popover</ion-button>
<ion-popover trigger="nested-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="true" [detail]="false">
          <ion-label>Option 1</ion-label>
        </ion-item>
        <ion-item [button]="true" [detail]="false">
          <ion-label>Option 2</ion-label>
        </ion-item>
        <ion-item [button]="true" [detail]="true" id="nested-trigger">
          <ion-label>Option 3</ion-label>
        </ion-item>
        
        <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
          <ng-template>
            <ion-content>
              <ion-item [button]="true">
                <ion-label>Nested Option</ion-label>
              </ion-item>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
<br><br><br><br><br><br>

<ion-button (click)="presentLoading()">presentLoading</ion-button>
<ion-button (click)="presentLoadingWithOptions()">presentLoadingWithOptions</ion-button>
<br><br>

<!-- Default Progressbar -->
<ion-progress-bar></ion-progress-bar><br>

<!-- Default Progressbar with 50 percent -->
<ion-progress-bar value="0.1"></ion-progress-bar><br>

<!-- Colorize Progressbar -->
<ion-progress-bar color="primary" value="0.2"></ion-progress-bar><br>
<ion-progress-bar color="secondary" value="0.3"></ion-progress-bar><br>

<!-- Other types -->
<ion-progress-bar value="0.4" buffer="0.5"></ion-progress-bar><br>
<ion-progress-bar type="indeterminate"></ion-progress-bar><br>
<ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar><br>
  

</ion-content>
