<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Components+
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <button (click)="presentActionSheet()">ActionSheet</button>

  <!-- Getting and setting the state of the accordion group -->
  <ion-accordion-group value="numbers">
    <ion-accordion value="colors">
      <ion-item slot="header">
        <ion-label>Colors</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>Red</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Green</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Blue</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="shapes">
      <ion-item slot="header">
        <ion-label>Shapes</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>Circle</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Triangle</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Square</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="numbers">
      <ion-item slot="header">
        <ion-label>Numbers</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>1</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>3</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

  <ion-button (click)="logAccordionValue()">Log Value of Accordion Group</ion-button>
  <ion-button (click)="closeAccordion()">Close All Accordions</ion-button>
  <br><br>

  <ion-button (click)="presentAlert()">Show Alert</ion-button>
  <ion-button (click)="presentAlertMultipleButtons()">Show Alert (multiple buttons)</ion-button>
  <ion-button (click)="presentAlertConfirm()">Show Alert (confirm)</ion-button>
  <ion-button (click)="presentAlertPrompt()">Show Alert (prompt)</ion-button>
  <ion-button (click)="presentAlertRadio()">Show Alert (radio)</ion-button>
  <ion-button (click)="presentAlertCheckbox()">Show Alert (checkbox)</ion-button>  
  <br><br>

  <!-- Default -->
  <ion-badge>{{badgeNumber}}</ion-badge>

  <!-- Colors -->
  <ion-badge color="primary">11</ion-badge>
  <ion-badge color="secondary" mode="ios">22</ion-badge>
  <ion-badge color="tertiary" mode="md">33</ion-badge>
  <ion-badge color="success">44</ion-badge>
  <ion-badge color="warning">55</ion-badge>
  <ion-badge color="danger">66</ion-badge>
  <ion-badge color="light">77</ion-badge>
  <ion-badge color="medium">88</ion-badge>
  <ion-badge color="dark">99</ion-badge>

  <!-- Item with badge on left and right -->
  <ion-item>
    <ion-badge slot="start">11</ion-badge>
    <ion-label>My Item</ion-label>
    <ion-badge slot="end">22</ion-badge>
  </ion-item>
  <br><br>

  <!-- Icon start -->
  <ion-breadcrumbs color="danger">
    <ion-breadcrumb href="#">
      <ion-icon slot="start" name="home"></ion-icon>
      Home
    </ion-breadcrumb>
    <ion-breadcrumb href="#files">
      <ion-icon slot="start" name="folder"></ion-icon>
      Files
    </ion-breadcrumb>
    <ion-breadcrumb href="#projects">
      <ion-icon slot="start" name="folder"></ion-icon>
      Projects
    </ion-breadcrumb>
    <ion-breadcrumb href="#user-research">
      <ion-icon slot="start" name="folder"></ion-icon>
      User Research
    </ion-breadcrumb>
    <ion-breadcrumb>
      <ion-icon slot="start" name="document"></ion-icon>
      Survey.txt
    </ion-breadcrumb>
  </ion-breadcrumbs>

  <!-- Icon end -->
  <ion-breadcrumbs>
    <ion-breadcrumb href="#">
      Home
      <ion-icon slot="end" name="home"></ion-icon>
    </ion-breadcrumb>
    <ion-breadcrumb href="#files">
      Files
      <ion-icon slot="end" name="folder"></ion-icon>
    </ion-breadcrumb>
    <ion-breadcrumb href="#projects">
      Projects
      <ion-icon slot="end" name="folder"></ion-icon>
    </ion-breadcrumb>
    <ion-breadcrumb href="#user-research">
      User Research
      <ion-icon slot="end" name="folder"></ion-icon>
    </ion-breadcrumb>
    <ion-breadcrumb>
      Survey.txt
      <ion-icon slot="end" name="document"></ion-icon>
    </ion-breadcrumb>
  </ion-breadcrumbs>

  <!-- Custom separator text -->
  <ion-breadcrumbs [maxItems]="maxBreadcrumbs" [itemsBeforeCollapse]="0" [itemsAfterCollapse]="3"
   (ionCollapsedClick)="expandBreadcrumbs()">
    <ion-breadcrumb href="#">
      Home
      <span slot="separator">|</span>
    </ion-breadcrumb>
    <ion-breadcrumb href="#electronics">
      Electronics
      <span slot="separator">|</span>
    </ion-breadcrumb>
    <ion-breadcrumb href="#photography">
      Photography
      <span slot="separator">|</span>
    </ion-breadcrumb>
    <ion-breadcrumb href="#cameras">
      Cameras
      <span slot="separator">|</span>
    </ion-breadcrumb>
    <ion-breadcrumb href="#film">
      Film
      <span slot="separator">|</span>
    </ion-breadcrumb>
    <ion-breadcrumb>
      35 mm
    </ion-breadcrumb>
  </ion-breadcrumbs>

    <ion-breadcrumbs [maxItems]="4" (ionCollapsedClick)="presentPopover($event)">
      <ion-breadcrumb href="#">
        Home+
      </ion-breadcrumb>
      <ion-breadcrumb href="#electronics">
        Electronics+
      </ion-breadcrumb>
      <ion-breadcrumb href="#photography">
        Photography+
      </ion-breadcrumb>
      <ion-breadcrumb href="#cameras">
        Cameras+
      </ion-breadcrumb>
      <ion-breadcrumb href="#film">
        Film+
      </ion-breadcrumb>
      <ion-breadcrumb>
        35 mm+
      </ion-breadcrumb>
    </ion-breadcrumbs>
    <br><br>

    <!-- Default -->
    <ion-button>Default</ion-button>

    <!-- Anchor -->
    <ion-button href="#">Anchor</ion-button>

    <!-- Colors -->
    <ion-button color="primary">Primary</ion-button>
    <ion-button color="secondary" disabled=true>Secondary</ion-button>
    <ion-button color="tertiary" mode="ios">Tertiary</ion-button>
    <ion-button color="success">Success</ion-button>
    <ion-button color="warning">Warning</ion-button>
    <ion-button color="danger">Danger</ion-button>
    <ion-button color="light">Light</ion-button>
    <ion-button color="medium">Medium</ion-button>
    <ion-button color="dark">Dark</ion-button>

    <!-- Expand -->
    <ion-button expand="full">Full Button</ion-button>
    <ion-button expand="block">Block Button</ion-button>

    <!-- Round -->
    <ion-button shape="round">Round Button</ion-button>

    <!-- Fill -->
    <ion-button expand="full" fill="outline">Outline + Full</ion-button>
    <ion-button expand="block" fill="outline">Outline + Block</ion-button>
    <ion-button shape="round" fill="outline">Outline + Round</ion-button>

    <!-- Icons -->
    <ion-button>
      <ion-icon slot="start" name="star"></ion-icon>
      Left Icon
    </ion-button>

    <ion-button>
      Right Icon
      <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>

    <ion-button>
      <ion-icon slot="icon-only" name="star"></ion-icon>
    </ion-button>

    <!-- Sizes -->
    <ion-button size="large">Large</ion-button>
    <ion-button>Default</ion-button>
    <ion-button size="small" (ionBlur)="onButtonBlur()" (ionFocus)="onButtonFocus()" (click)="onButtonClick()">Small</ion-button>
    <br><br>

    <div class="ion-activatable ripple-parent">
      A plain div with a bounded ripple effect
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <button class="ion-activatable ripple-parent">
      A button with a bounded ripple effect
      <ion-ripple-effect></ion-ripple-effect>
    </button>

    <div class="ion-activatable ripple-parent">
      A plain div with an unbounded ripple effect
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </div>

    <button class="ion-activatable ripple-parent">
      A button with an unbounded ripple effect
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </button>
    <br><br>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>ion-item in a card, icon left, button right</ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>
    
      <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-item href="#" class="ion-activated">
        <ion-icon name="wifi" slot="start"></ion-icon>
        <ion-label>Card Link Item 1 activated</ion-label>
      </ion-item>
    
      <ion-item href="#">
        <ion-icon name="wine" slot="start"></ion-icon>
        <ion-label>Card Link Item 2</ion-label>
      </ion-item>
    
      <ion-item class="ion-activated">
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label>Card Button Item 1 activated</ion-label>
      </ion-item>
    
      <ion-item>
        <ion-icon name="walk" slot="start"></ion-icon>
        <ion-label>Card Button Item 2</ion-label>
      </ion-item>
    </ion-card> 
    <br><br>

    <!-- Default Checkbox -->
    <ion-checkbox></ion-checkbox>

    <!-- Disabled Checkbox -->
    <ion-checkbox disabled="true"></ion-checkbox>

    <!-- Checked Checkbox -->
    <ion-checkbox checked="true"></ion-checkbox>

    <!-- Checkbox Colors -->
    <ion-checkbox color="primary"></ion-checkbox>
    <ion-checkbox color="secondary"></ion-checkbox>
    <ion-checkbox color="danger"></ion-checkbox>
    <ion-checkbox color="light"></ion-checkbox>
    <ion-checkbox color="dark"></ion-checkbox>

    <!-- Checkboxes in a List -->
    <ion-list>
      <ion-item *ngFor="let entry of form">
        <ion-label>{{entry.val}}</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
      </ion-item>
    </ion-list>    
    <br><br>

    <ion-chip>
      <ion-label>Default</ion-label>
    </ion-chip>
    
    <ion-chip>
      <ion-label color="secondary">Secondary Label</ion-label>
    </ion-chip>
    
    <ion-chip color="secondary">
      <ion-label color="dark">Secondary w/ Dark label</ion-label>
    </ion-chip>
    
    <ion-chip [disabled]="true">
      <ion-label>Disabled Chip</ion-label>
    </ion-chip>
    
    <ion-chip>
      <ion-icon name="pin"></ion-icon>
      <ion-label>Default</ion-label>
    </ion-chip>
    
    <ion-chip>
      <ion-icon name="heart" color="dark"></ion-icon>
      <ion-label>Default</ion-label>
    </ion-chip>
    
    <ion-chip>
      <ion-label>Button Chip</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
    
    <ion-chip>
      <ion-icon name="pin" color="primary"></ion-icon>
      <ion-label>Icon Chip</ion-label>
      <ion-icon name="close"></ion-icon>
    </ion-chip>
    
    <ion-chip>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Avatar Chip</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
    <br><br>

    <!-- Initial value -->
    <ion-datetime value="2012-12-15T13:47:20.789"></ion-datetime>

    <!-- Readonly -->
    <ion-datetime readonly></ion-datetime>

    <!-- Disabled -->
    <ion-datetime disabled></ion-datetime>

    <!-- Custom locale -->
    <ion-datetime locale="en-GB"></ion-datetime>

    <!-- Max and min -->
    <ion-datetime min="1994-03-14" max="2012-12-09" value="2008-09-02"></ion-datetime>

    <!-- 15 minute increments -->
    <ion-datetime minuteValues="0,15,30,45"></ion-datetime>

    <!-- Specific days/months/years --> 
    <ion-datetime monthValues="6,7,8" yearValues="2014,2015" dayValues="01,02,03,04,05,06,08,09,10,11,12,13,14"></ion-datetime>

    <!-- Selecting time, no date -->
    <ion-datetime presentation="time"></ion-datetime>

    <!-- Selecting time first, date second -->
    <ion-datetime presentation="time-date"></ion-datetime>

    <!-- Full width size -->
    <ion-datetime size="cover"></ion-datetime>

    <!-- Custom Hour Cycle -->
    <ion-datetime hourCycle="h23"></ion-datetime>

    <!-- Custom first day of week -->
    <ion-datetime [firstDayOfWeek]="1"></ion-datetime>

    <!-- Custom title -->
    <ion-datetime>
      <div slot="title">My Custom Title</div>
    </ion-datetime>

    <!-- Clear button -->
    <ion-datetime [showClearButton]="true"></ion-datetime>

    <!-- Datetime in overlay -->
    <ion-button id="open-modal">Open Datetime Modal</ion-button>
    <ion-modal trigger="open-modal">
      <ng-template>
        <ion-content>
          <ion-datetime></ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- Custom buttons -->
    <ion-datetime>
      <ion-buttons slot="buttons">
        <ion-button (click)="confirm()">Good to go!</ion-button>
        <ion-button (click)="reset()">Reset</ion-button>
      </ion-buttons>
    </ion-datetime>

    <!-- Datetime in popover with cover element -->
    <ion-item button="true" id="open-date-input">
      <ion-label>Date</ion-label>
      <ion-text slot="end">{{ dateValue }}</ion-text>
      <ion-popover trigger="open-date-input" show-backdrop="false">
        <ng-template>
          <ion-datetime
            #popoverDatetime
            presentation="date"
            (ionChange)="dateValue = formatDate(popoverDatetime.value)"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>

    <!-- Datetime in popover with input -->
    <ion-item>
      <ion-input [value]="dateValue2"></ion-input>
      <ion-button fill="clear" id="open-date-input-2">
        <ion-icon icon="calendar"></ion-icon>
      </ion-button>
      <ion-popover trigger="open-date-input-2" show-backdrop="false">
        <ng-template>
          <ion-datetime
            #popoverDatetime2
            presentation="date"
            (ionChange)="dateValue2 = formatDate(popoverDatetime2.value)"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>    
    <br><br>

    <ion-button (click)="openPicker()">SHOW PICKER</ion-button>
    <!-- <p *ngIf="picked.animal">picked: {{ picked.animal.text }}</p> -->
    <p >picked: {{ picked?.animal?.text }}</p>
    <br><br>

    <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  
    <!-- fab placed to the bottom end -->
    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="arrow-forward-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  
    <!-- fab placed to the top start -->
    <!-- <ion-fab vertical="top" horizontal="start" slot="fixed">
      <ion-fab-button>
        <ion-icon name="arrow-back-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  
    <!-- fab placed to the bottom start -->
    <!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button>
        <ion-icon name="arrow-up-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  
    <!-- fab placed to the (vertical) center and start -->
    <!-- <ion-fab vertical="center" horizontal="start" slot="fixed">
      <ion-fab-button>
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  
    <!-- fab placed to the (vertical) center and end -->
    <!-- <ion-fab vertical="center" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  
    <!-- fab placed to the top and end and on the top edge of the content overlapping header -->
    <!-- <ion-fab vertical="top" horizontal="end" edge slot="fixed">
      <ion-fab-button>
        <ion-icon name="person"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  
    <!-- fab placed to the bottom and start and on the bottom edge of the content overlapping footer with a list to the right -->
    <!-- <ion-fab vertical="bottom" horizontal="start" edge slot="fixed">
      <ion-fab-button>
        <ion-icon name="settings"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="end">
        <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab> -->
  
    <!-- fab placed in the center of the content with a list on each side -->
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button>
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button (click)="onFabClick('vimeo')"><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="bottom">
        <ion-fab-button (click)="onFabClick('facebook')"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="start">
        <ion-fab-button (click)="onFabClick('instagram')"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="end">
        <ion-fab-button (click)="onFabClick('twitter')"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <ion-fab slot="fixed">
      <ion-fab-button>Button</ion-fab-button>
    </ion-fab>

    <ion-fab-button>Default</ion-fab-button>

    <ion-fab-button size="small">Mini</ion-fab-button>

    <ion-fab-button color="primary">Primary</ion-fab-button>
    <ion-fab-button color="secondary">Secondary</ion-fab-button>
    <ion-fab-button color="danger">Danger</ion-fab-button>
    <br><br>

    <ion-grid>
      <ion-row>
        <ion-col>
          ion-col
        </ion-col>
        <ion-col>
          ion-col
        </ion-col>
        <ion-col>
          ion-col
        </ion-col>
        <ion-col>
          ion-col
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col size="6">
          ion-col [size="6"]
        </ion-col>
        <ion-col>
          ion-col
        </ion-col>
        <ion-col>
          ion-col
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col size="3">
          ion-col [size="3"]
        </ion-col>
        <ion-col>
          ion-col
        </ion-col>
        <ion-col size="3">
          ion-col [size="3"]
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col size="3">
          ion-col [size="3"]
        </ion-col>
        <ion-col size="3" offset="3">
          ion-col [size="3"] [offset="3"]
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          ion-col
        </ion-col>
        <ion-col>
          ion-col
          <br>#
        </ion-col>
        <ion-col>
          ion-col
          <br>#
          <br>#
        </ion-col>
        <ion-col>
          ion-col
          <br>#
          <br>#
          <br>#
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col class="ion-align-self-start">
          ion-col [start]
        </ion-col>
        <ion-col class="ion-align-self-center">
          ion-col [center]
        </ion-col>
        <ion-col class="ion-align-self-end">
          ion-col [end]
        </ion-col>
        <ion-col>
          ion-col
          <br>#
          <br>#
        </ion-col>
      </ion-row>
    
      <ion-row class="ion-align-items-start">
        <ion-col>
          [start] ion-col
        </ion-col>
        <ion-col>
          [start] ion-col
        </ion-col>
        <ion-col class="ion-align-self-end">
          [start] ion-col [end]
        </ion-col>
        <ion-col>
          ion-col
          <br>#
          <br>#
        </ion-col>
      </ion-row>
    
      <ion-row class="ion-align-items-center">
        <ion-col>
          [center] ion-col
        </ion-col>
        <ion-col>
          [center] ion-col
        </ion-col>
        <ion-col>
          [center] ion-col
        </ion-col>
        <ion-col>
          ion-col
          <br>#
          <br>#
        </ion-col>
      </ion-row>
    
      <ion-row class="ion-align-items-end">
        <ion-col>
          [end] ion-col
        </ion-col>
        <ion-col class="ion-align-self-start">
          [end] ion-col [start]
        </ion-col>
        <ion-col>
          [end] ion-col
        </ion-col>
        <ion-col>
          ion-col
          <br>#
          <br>#
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col size="12" size-sm>
          ion-col [size="12"] [size-sm]
        </ion-col>
        <ion-col size="12" size-sm>
          ion-col [size="12"] [size-sm]
        </ion-col>
        <ion-col size="12" size-sm>
          ion-col [size="12"] [size-sm]
        </ion-col>
        <ion-col size="12" size-sm>
          ion-col [size="12"] [size-sm]
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col size="12" size-md>
          ion-col [size="12"] [size-md]
        </ion-col>
        <ion-col size="12" size-md>
          ion-col [size="12"] [size-md]
        </ion-col>
        <ion-col size="12" size-md>
          ion-col [size="12"] [size-md]
        </ion-col>
        <ion-col size="12" size-md>
          ion-col [size="12"] [size-md]
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col size="6" size-lg offset="3">
          ion-col [size="6"] [size-lg] [offset="3"]
        </ion-col>
        <ion-col size="3" size-lg>
          ion-col [size="3"] [size-lg]
        </ion-col>
      </ion-row>
    </ion-grid>



</ion-content>
