<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <button (click)="presentActionSheet()">ActionSheet</button>

  <!-- Getting and setting the state of the accordion group -->
  <ion-accordion-group value="numbers">
    <ion-accordion value="colors">
      <ion-item slot="header">
        <ion-label>Colors</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>Red</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Green</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Blue</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="shapes">
      <ion-item slot="header">
        <ion-label>Shapes</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>Circle</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Triangle</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Square</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="numbers">
      <ion-item slot="header">
        <ion-label>Numbers</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>1</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>3</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

  <ion-button (click)="logAccordionValue()">Log Value of Accordion Group</ion-button>
  <ion-button (click)="closeAccordion()">Close All Accordions</ion-button>
  <br><br>

  <ion-button (click)="presentAlert()">Show Alert</ion-button>
  <ion-button (click)="presentAlertMultipleButtons()">Show Alert (multiple buttons)</ion-button>
  <ion-button (click)="presentAlertConfirm()">Show Alert (confirm)</ion-button>
  <ion-button (click)="presentAlertPrompt()">Show Alert (prompt)</ion-button>
  <ion-button (click)="presentAlertRadio()">Show Alert (radio)</ion-button>
  <ion-button (click)="presentAlertCheckbox()">Show Alert (checkbox)</ion-button>  
  <br><br>

  <!-- Default -->
  <ion-badge>{{badgeNumber}}</ion-badge>

  <!-- Colors -->
  <ion-badge color="primary">11</ion-badge>
  <ion-badge color="secondary" mode="ios">22</ion-badge>
  <ion-badge color="tertiary" mode="md">33</ion-badge>
  <ion-badge color="success">44</ion-badge>
  <ion-badge color="warning">55</ion-badge>
  <ion-badge color="danger">66</ion-badge>
  <ion-badge color="light">77</ion-badge>
  <ion-badge color="medium">88</ion-badge>
  <ion-badge color="dark">99</ion-badge>

  <!-- Item with badge on left and right -->
  <ion-item>
    <ion-badge slot="start">11</ion-badge>
    <ion-label>My Item</ion-label>
    <ion-badge slot="end">22</ion-badge>
  </ion-item>
  <br><br>

  <!-- Icon start -->
  <ion-breadcrumbs color="danger">
    <ion-breadcrumb href="#">
      <ion-icon slot="start" name="home"></ion-icon>
      Home
    </ion-breadcrumb>
    <ion-breadcrumb href="#files">
      <ion-icon slot="start" name="folder"></ion-icon>
      Files
    </ion-breadcrumb>
    <ion-breadcrumb href="#projects">
      <ion-icon slot="start" name="folder"></ion-icon>
      Projects
    </ion-breadcrumb>
    <ion-breadcrumb href="#user-research">
      <ion-icon slot="start" name="folder"></ion-icon>
      User Research
    </ion-breadcrumb>
    <ion-breadcrumb>
      <ion-icon slot="start" name="document"></ion-icon>
      Survey.txt
    </ion-breadcrumb>
  </ion-breadcrumbs>

  <!-- Icon end -->
  <ion-breadcrumbs>
    <ion-breadcrumb href="#">
      Home
      <ion-icon slot="end" name="home"></ion-icon>
    </ion-breadcrumb>
    <ion-breadcrumb href="#files">
      Files
      <ion-icon slot="end" name="folder"></ion-icon>
    </ion-breadcrumb>
    <ion-breadcrumb href="#projects">
      Projects
      <ion-icon slot="end" name="folder"></ion-icon>
    </ion-breadcrumb>
    <ion-breadcrumb href="#user-research">
      User Research
      <ion-icon slot="end" name="folder"></ion-icon>
    </ion-breadcrumb>
    <ion-breadcrumb>
      Survey.txt
      <ion-icon slot="end" name="document"></ion-icon>
    </ion-breadcrumb>
  </ion-breadcrumbs>

  <!-- Custom separator text -->
  <ion-breadcrumbs [maxItems]="maxBreadcrumbs" [itemsBeforeCollapse]="0" [itemsAfterCollapse]="3"
   (ionCollapsedClick)="expandBreadcrumbs()">
    <ion-breadcrumb href="#">
      Home
      <span slot="separator">|</span>
    </ion-breadcrumb>
    <ion-breadcrumb href="#electronics">
      Electronics
      <span slot="separator">|</span>
    </ion-breadcrumb>
    <ion-breadcrumb href="#photography">
      Photography
      <span slot="separator">|</span>
    </ion-breadcrumb>
    <ion-breadcrumb href="#cameras">
      Cameras
      <span slot="separator">|</span>
    </ion-breadcrumb>
    <ion-breadcrumb href="#film">
      Film
      <span slot="separator">|</span>
    </ion-breadcrumb>
    <ion-breadcrumb>
      35 mm
    </ion-breadcrumb>
  </ion-breadcrumbs>

    <ion-breadcrumbs [maxItems]="4" (ionCollapsedClick)="presentPopover($event)">
      <ion-breadcrumb href="#">
        Home+
      </ion-breadcrumb>
      <ion-breadcrumb href="#electronics">
        Electronics+
      </ion-breadcrumb>
      <ion-breadcrumb href="#photography">
        Photography+
      </ion-breadcrumb>
      <ion-breadcrumb href="#cameras">
        Cameras+
      </ion-breadcrumb>
      <ion-breadcrumb href="#film">
        Film+
      </ion-breadcrumb>
      <ion-breadcrumb>
        35 mm+
      </ion-breadcrumb>
    </ion-breadcrumbs>
    <br><br>

    <!-- Default -->
    <ion-button>Default</ion-button>

    <!-- Anchor -->
    <ion-button href="#">Anchor</ion-button>

    <!-- Colors -->
    <ion-button color="primary">Primary</ion-button>
    <ion-button color="secondary" disabled=true>Secondary</ion-button>
    <ion-button color="tertiary" mode="ios">Tertiary</ion-button>
    <ion-button color="success">Success</ion-button>
    <ion-button color="warning">Warning</ion-button>
    <ion-button color="danger">Danger</ion-button>
    <ion-button color="light">Light</ion-button>
    <ion-button color="medium">Medium</ion-button>
    <ion-button color="dark">Dark</ion-button>

    <!-- Expand -->
    <ion-button expand="full">Full Button</ion-button>
    <ion-button expand="block">Block Button</ion-button>

    <!-- Round -->
    <ion-button shape="round">Round Button</ion-button>

    <!-- Fill -->
    <ion-button expand="full" fill="outline">Outline + Full</ion-button>
    <ion-button expand="block" fill="outline">Outline + Block</ion-button>
    <ion-button shape="round" fill="outline">Outline + Round</ion-button>

    <!-- Icons -->
    <ion-button>
      <ion-icon slot="start" name="star"></ion-icon>
      Left Icon
    </ion-button>

    <ion-button>
      Right Icon
      <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>

    <ion-button>
      <ion-icon slot="icon-only" name="star"></ion-icon>
    </ion-button>

    <!-- Sizes -->
    <ion-button size="large">Large</ion-button>
    <ion-button>Default</ion-button>
    <ion-button size="small" (ionBlur)="onButtonBlur()" (ionFocus)="onButtonFocus()" (click)="onButtonClick()">Small</ion-button>

</ion-content>
